@page "/gate3/A2BC7604-E551-45EC-AD4F-01C7190BD981"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate III - Chapter III</PageTitle>

<h3 style="color: red">
    Gate III - Chapter III
</h3>

<div>
    @if (loading)
    {
        <h5>Loading Glyphs...(Refresh if not loaded in ~5 seconds)</h5>
    }
    <div>
        @if (!loading)
        {
            @for (int g = 0; g < sequence.Length; g++)
            {
                int glyphNumber = g;
                string _spriteDataUrl = _spriteDataUrls[sequence[g]];
                <button class="glyph-link glyph" disabled>
                    <img src="@_spriteDataUrl" alt="Sprite @glyphNumber" style="width:@_spriteWidth + 10px; height:@_spriteHeight + 10px; border-radius: 50px;" />
                </button>
            }
            int homeNumber = 31;
            string _homeSpriteDataUrl = _spriteDataUrls[homeNumber];
            <button class="glyph-link glyph" disabled>
                <img src="@_homeSpriteDataUrl" alt="Sprite @homeNumber" style="width:@_spriteWidth + 10px; height:@_spriteHeight + 10px; border-radius: 50px;" />
            </button>
        }
    </div>

    <br />

    <div>
        <button class="btn btn-outline-secondary" type="button" @onclick="Submit">Submit</button>
        <button class="btn btn-danger" @onclick="ClearSequence">Clear Sequence</button>
    </div>

    <br />

    <div>
        @for (int i = 1; i < _spriteDataUrls.Count; i++)
        {
            int glyphNumber = i;
            string _spriteDataUrl = _spriteDataUrls[i];
            <button class="glyph-link glyph" @onclick="() => EnterGlpyh(glyphNumber)">
                <img src="@_spriteDataUrl" alt="Sprite @glyphNumber" style="width:@_spriteWidth + 10px; height:@_spriteHeight + 10px; border-radius: 50px;" />
            </button>
        }
    </div>

    <br />

    <h5>Recent History: [@(_attempts.Count - 1) Attempts]</h5>
    @if (_attempts.Count > 0)
    {
        DateTime clue1Release;
        DateTime.TryParse("07/22/25", out clue1Release);

        DateTime clue2Release;
        DateTime.TryParse("07/25/25", out clue2Release);
        @if (_attempts.Count > 5 && DateTime.Today >= clue1Release)
        {
            <p style="color: yellow">Hint 1/2: Where did you come from?</p>
        }
        @if (_attempts.Count > 15 && DateTime.Today >= clue2Release)
        {
            <p style="color: orange">Hint 2/2: Midgard is the realm of man, the Tau'ri</p>
        }
        <ul>
            @if (_attempts != null && _attempts.Count > 0)
            {
                @foreach (var attempt in _attempts)
                {
                    if (attempt.Contains("Reset"))
                    {
                        <li style="color: red">@attempt</li>
                        continue;
                    }
                    List<int> attemptIndexes = attempt.Substring(attempt.IndexOf("]") + 2)
                    .Split('-').Select(int.Parse).ToList();
                    <li>
                        @for (int x = 0; x < attemptIndexes.Count; x++)
                        {
                            int glyphNumber = attemptIndexes[x];
                            string _spriteDataUrl = _spriteDataUrls[glyphNumber];
                            <button class="glyph-link glyph" disabled>
                                <img src="@_spriteDataUrl" alt="Sprite @glyphNumber" style="width:@_spriteWidth + 10px; height:@_spriteHeight + 10px; border-radius: 50px;" />
                            </button>
                        }
                    </li>
                }
            }
        </ul>
    }
</div>

@code {

    private const string _spriteSheetPath = @"Images/glyphs.png";
    const int _spriteWidth = 90;
    const int _spriteHeight = 90;
    const int _columns = 8;
    const int _count = 39;
    bool loading = true;

    HttpClient http = new HttpClient();

    List<string> _attempts = new List<string>();

    private List<string> _spriteDataUrls = new List<string>();

    private int[] sequence = new int[6];
    private int sequenceIndex = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _spriteDataUrls = await js.InvokeAsync<List<string>>(
            "spriteUtils.extractSprites",
            _spriteSheetPath, _spriteWidth, _spriteHeight, _columns, _count
        );
            loading = false;
            StateHasChanged();
        }
    }

    private async Task Submit()
    {
        if (sequence[0] == 0)
            return;

        string _key = string.Join("-", sequence);
        _key += "-31"; // Home glyph
        int gateNumber = 3;

        if (!string.IsNullOrWhiteSpace(_key))
        {
            // Hard coded success. Still need to call CheckKey to log attempts.
            if (_key.Equals("28-26-5-36-11-29-31"))
            {
                await js.InvokeVoidAsync("alert", "WARNING: Planet Core Destruction Imminent. Escape.");
                nav.NavigateTo(nav.BaseUri + "gate3/3FBC748A-5C13-42B6-8FC4-53B2A9EB6B21", forceLoad: true);
            }

            Uri uri = new Uri(nav.BaseUri + "api/CheckKey");
            GateRequest request = new GateRequest(key: _key.ToUpper(), chapter: 3, gate: gateNumber);

            var response = await http.PostAsJsonAsync(uri, request);
            if (!response.IsSuccessStatusCode)
            {
                await js.InvokeVoidAsync("alert", "Failed to connect to the server.");
                return;
            }

            GateResponse? gateResponse = await response.Content.ReadFromJsonAsync<GateResponse>();

            if (gateResponse is null)
            {
                await js.InvokeVoidAsync("alert", "Failed to read response from server.");
                return;
            }
        }
        ClearSequence();
        await GetRecentAttempts();
    }

    private void EnterGlpyh(int glyphNumber)
    {
        if (sequenceIndex < sequence.Length)
        {
            sequence[sequenceIndex++] = glyphNumber;
            return;
        }
        ClearSequence();
    }

    private void ClearSequence()
    {
        sequenceIndex = 0;
        sequence = new int[6];
        StateHasChanged();
    }

    private async Task GetRecentAttempts()
    {
        GateRequest request = new GateRequest(key: string.Empty, gate: 3, chapter: 3);
        Uri attemptsUri = new Uri(nav.BaseUri + "api/GetAttempts");

        _attempts.Clear();

        var response = await http.PostAsJsonAsync(attemptsUri, request);

        if (response.IsSuccessStatusCode)
            _attempts = await response.Content.ReadFromJsonAsync<List<string>>() ?? new List<string>() { "Failed to load attempts from Server" };
        if (_attempts != null)
        {
            _attempts.Reverse();
        }
        StateHasChanged();
    }

    private async Task ResetAttempts()
    {
        GateRequest request = new GateRequest(key: string.Empty, gate: 3, chapter: 3);
        Uri attemptsUri = new Uri(nav.BaseUri + "api/ResetAttempts");

        var response = http.PostAsJsonAsync(attemptsUri, request).Result;

        if (response.IsSuccessStatusCode)
            await GetRecentAttempts();
    }
}
